#content
  .wrapper
    .old
    .new
      .target.docked.blog
        .gapProperties
        #shell.wide{"data-iscroll" => "true"}
          #scroller.container
            .row
              .nine.columns
                - @properties.each do |property|
                  %article.row
                    .meta.four.columns
                      %h4
                        %time= property.title
                      %ul
                        %li
                          %span.tags
                          %b Ubicación:
                          = property.location
                        %li
                          %span.comments
                          %b Tipo:
                          = property.purpose
                        %li
                          %span.meters
                          %b Metros:
                          = property.normalize_meters
                        %li
                          %span.price
                          %b Precio:
                          = property.humanize_price
                        %li
                          %span.habitaciones
                          %b Habitaciones:
                          = property.rooms
                        %li
                          %span.bathrooms
                          %b Baños:
                          = property.bathrooms
                        %li
                          %span.parkingspace
                          %b Parqueos:
                          = property.parkingspace
                    .post.eight.columns.phone-four
                      .image
                        = link_to(image_tag(property.pictures[0].path.full_size.url), property_path(property), :class => 'pull-right', :target => "_self")
                        %span
                      %p= property.description
                      %nice.small.radius.right= link_to(image_tag("properties/LeerMas.png"), property_path(property), :class => 'pull-right', :target => "_self")
                .row
                  .eight.columns.offset-by-four.phone-four
                    %br
                      %hr
                        = will_paginate(@properties, :next_label => '&#187;', :previous_label => '&#171;', :class => 'pull-right pagination', :target => "_self")
              %aside.sidebar.three.columns
                .search
                  %h4 Búsqueda
                  %form.row.nice
                    %input.twelve.column.phone-four.input-text.field{:name => "search", :placeholder => "Search..."}
                      %input.submit{:disabled => "true", :type => "submit", :value => "Search"}
                .textWidget
                  %h4 Propiedades
                  %p En este espacio mantendremos ofertas de propiedades de oportunidad que estaremos promocionando.
              .row.copy
                %p
                  © Todos los derechos reservados, Serv-Ing 2013 -
                  %a{:href => "https://www.facebook.com/pages/Serv-Ing/170998606371283", :target => "_blank"} Conviertete en fan!
                  Powered by
                  %a{:href => "https://www.facebook.com/pixelpt", :target => "_blank"} Pixel Perfect Tree